body {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #08357c;
}

.wheel-background {
  transform-origin: top left;
  background-image: url("../images/wheel_background.png");
  background-size: 100% 100%;
  width: 2560px;
  height: 1440px;
  overflow: hidden;
}

.wheel-background > .wheel {
  position: relative;
  width: 549px;
  top: -459px;
  left: 1572px;
}

.wheel-background > .wheel > .wheel-slot {
  background-image: url("../images/wheel_slot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 549px;
  height: 459px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-background > .wheel > .wheel-slot > .restaurant-name {
  color: #ffffff;
}

.wheel-background > .pointer-tip {
  position: absolute;
  top: 667px;
  left: 2050px;
}

.wheel-background > .button-spin-wheel {
  position: absolute;
  left: 1455px;
  top: 109px;
  width: 100px;
  height: 100px;
  background-color: #ff00ff;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}
