body {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: #08357c;
}

.wheel-background {
  transform-origin: top left;
  background-image: url("../images/wheel_background.png");
  background-size: 100% 100%;
  width: 2560px;
  height: 1440px;
  overflow: hidden;
}

.wheel-background > .wheel {
  position: relative;
  width: 549px;
  top: -459px;
  left: 1572px;
  cursor: pointer;
  user-select: none;
}

.wheel-background > .wheel:hover {
  box-shadow: 0px 0px 100px #f2e202d8;
}

.wheel-background > .wheel:active {
  box-shadow: 0px 0px 100px #f2e202;
}

.wheel-background > .wheel > .wheel-slot {
  background-image: url("../images/wheel_slot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 549px;
  height: 459px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wheel-background > .wheel > .wheel-slot > .restaurant-name {
  color: #f2e202;
  /* font-size: 380px; */
  font-size: 100px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 10px 10px 20px #000000;
  padding: 35px 35px 35px 35px;
  align-self: baseline;
  margin: auto;
  text-align: center;
}

.wheel-background > .pointer-tip {
  position: absolute;
  top: 667px;
  left: 2050px;
}
